link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
head
  title Boyle Heights
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-128381064-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-128381064-1');


